<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="LeaveConsoleOpen" value="true" />
    <add key="ProcessingTemp"   value="ProcessingTemp" />
    
    <!--Extraction Settings-->
    <add key="Compressed_ReportContainers"    value="false" />
    <add key="Compressed_Extensions"          value="zip,zipx,z,gz,bz,bz2,7z,7za,cab,x" />
    <add key="Compressed_ReadContents"        value="true" />
    <add key="Compressed_ReadContents_Nested" value="true" />
    
  </appSettings>
  
  <connectionStrings>
    <add name="Main" connectionString="" />
  </connectionStrings>
  
</configuration>
