<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="LeaveConsoleOpen" value="true" />
    <add key="ProcessingTemp"   value="ProcessingTemp" />
    
    <!--Extraction Settings-->
    <add key="Compressed_PathTo7z.dll"         value="C:\Program Files\7-Zip\7z.dll" />
    <add key="Compressed_ReportContainers"     value="true" />
    <!--Available: 7z,xz,zip,zipx,gz,gzip,tgz,bz2,bzip2,tbz2,tbz,tar,wim,swm,lzma,rar,cab,arj,z,taz,cpio,rpm,deb,lzh,lha,chm,chw,hxs,iso,msi,doc,xls,ppt,dmg,xar,hfs,exe,ntfs,fat,vhd,mbr,squashfs,cramfs,scap-->
    <add key="Compressed_Extensions"           value="7z,xz,zip,zipx,gz,gzip,tgz,bz2,bzip2,tbz2,tbz,tar,lzma,rar,cab,z,taz" />
    <add key="Compressed_ReadContents"         value="true" />
    <add key="Compressed_ReadContents_Recurse" value="true" />
    
  </appSettings>
  
  <connectionStrings>
    <add name="Main" connectionString="" />
  </connectionStrings>
  
</configuration>
