<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <appSettings>
    <add key="LeaveConsoleOpen" value="true" />
    <add key="Quiet"   value="true" />
    <add key="Verbose" value="false" />
    
    <add key="ProcessingTemp"   value="ProcessingTemp" />
    
    <!--Extraction Settings-->
    <add key="Compressed_PathTo7z.dll"         value="C:\Program Files\7-Zip\7z.dll" />
    <add key="Compressed_ReportContainers"     value="true" />
    <!--Available: 7z,xz,zip,zipx,gz,gzip,tgz,bz2,bzip2,tbz2,tbz,tar,wim,swm,lzma,rar,cab,arj,z,taz,cpio,rpm,deb,lzh,lha,chm,chw,hxs,iso,msi,doc,xls,ppt,dmg,xar,hfs,exe,ntfs,fat,vhd,mbr,squashfs,cramfs,scap-->
    <add key="Compressed_Extensions"           value="7z,xz,zip,zipx,gz,gzip,tgz,bz2,bzip2,tbz2,tbz,tar,lzma,rar,cab,z,taz" />
    <add key="Compressed_ReadContents"         value="true" />
    <add key="Compressed_ReadContents_Recurse" value="true" />
    
  </appSettings>
  
  <connectionStrings>
    <add name="Main"   connectionString="" />
    <add name="Logger" connectionString="" />
  </connectionStrings>

  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!---->
      <param name="File" value="FileCrawler.log"/>
      <!---->
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="5"/>
      <param name="MaximumFileSize" value="500KB"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %-5p - %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="Threshold" value="ALL"/>
      <applicationName value="Common"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger%newline %message%newline [%property{stack}]"/>
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <param name="Threshold" value="INFO"/>
      <bufferSize value="100"/>
      <commandType value="StoredProcedure"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@application"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{application}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="4000"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{stack}"/>
        </layout>
      </parameter>
    </appender>
    <appender name="OutputDebugStringAppender" type="log4net.Appender.OutputDebugStringAppender">
      <param name="Threshold" value="DEBUG"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %c - %m%n%exception%properties%n"/>
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <param name="Threshold" value="WARN"/>
      <mapping>
        <level value="FATAL"/>
        <foreColor value="White"/>
        <backColor value="Purple, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="ERROR"/>
        <foreColor value="White"/>
        <backColor value="Red"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="White"/>
        <backColor value="Yellow"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <backColor value="Green"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Purple"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %c - %m%n%exception%properties%n"/>
      </layout>
    </appender>
    <root>
      <!---->
      <!-- Log4Net Valid Levels: ALL, DEBUG, INFO, WARN, ERROR, FATAL -->
      <level value="ALL"/>
      <!---->
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="OutputDebugStringAppender"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="AdoNetAppender"/>
    </root>
  </log4net>
  
</configuration>
